.effect{
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.2), 0 4px 12px rgba(0, 195, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
.text{
  color: cyan;
  font-size: large;
}
.but{
  border: 1px solid rgba(255, 255, 255, 0.08);
}