<% layout('layout/boilerplate') %>


<div class="container mt-5">
  <h1 class="text-danger">Error <%= err.status || 500 %></h1>
  <p><%= err.message %></p>
  <a href="/mobkart/mobile" class="btn btn-primary mt-3">Go back to Mobiles</a>
</div>
